@font-face {
    font-family: Vazir-Medium;
    src: url(../fonts/Vazir-Medium.eot) format("eot"), url(../fonts/Vazir-Medium.woff) format("woff"), url(../fonts/Vazir-Medium.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

*,
body {
    font-family: Vazir-Medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #d8e0e5;
    direction: rtl;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width: 376px;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.card-thumb {
    height: 235px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s;
}

.card:hover .card-thumb {
    height: 90px;
}

.card-thumb img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

.card:hover .card-thumb img {
    opacity: 0.6;
    transform: scale(1.2);
}

.card .card-date {
    background-color: #08c;
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 72px;
    min-height: 35px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 1px;
}

.card-date-day {
    display: block;
    font-size: 15px;
}

.card-date-month {
    display: block;
    font-size: 11px;
}

.card-body {
    position: relative;
    padding: 20px;
    height: 185px;
    transition: height 0.3s;
}

.card:hover .card-body {
    height: 330px;
}

.card-category {
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background-color: #08c;
    line-height: 23px;
}

.card-category a {
    color: #fff;
    font-size: 12px;
}

.card .card-title {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 21px;
    color: #000;
    font-weight: bold;
}

.card .card-subtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: #08c;
}

.card .card-description {
    position: absolute;
    top: 126px;
    left: 20px;
    right: 20px;
    bottom: 65px;
    color: #666c74;
    font-size: 16px;
    line-height: 27px;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(25px);
    opacity: 0;
}

.card:hover .card-description {
    opacity: 1;
    transform: translateY(0);
}

.card .card-footer {
    position: absolute;
    color: #a3a9ab;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 13px;
}

.card .card-footer .icon-comment {
    margin-right: 10px;
}

.card .card-footer .icon-comment i,
.card .card-footer .icon-time i {
    font-size: 21px;
    vertical-align: -6px;
    margin-left: 6px;
}
